<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Генератор паролей для CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <header>
        <span>Какой-то текст в хэдере</span>
    </header>

    <section>
        Главная секция с формой
    </section>
    <section>
        {{ result.password }}
    </section>

    <footer>Футер</footer>

</body>

</html>